@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'tailwindcss/nesting';
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Tilføjer tilpasset styling og responsivitet til typografi og elementer, baseret på token-baserede Figma-variabler */
@layer base {
    @font-face {
        font-family: "Manrope", sans-serif;
        font-weight: 400, 600, 700, 800;
        src: url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
    }

    img {
        width: 100%;
    }
    h1 {
        font-family: "Manrope", sans-serif;
        color: #602105;
        font-weight: 700;
        font-size: 1.75rem;
    }
    @media (min-width: 768px) {
        h1 {
            font-size: 64px;
        }
    }
    h2 {
        font-family: "Manrope", sans-serif;
        color: #602105;
        font-weight: 700;
        font-size: 1.5rem;
    }
    @media (min-width: 768px) {
        h2 {
            font-size: 40px;
        }
    }
    h3 {
        font-family: "Manrope", sans-serif;
        color: #8C2E08;
        font-weight: 600;
        font-size: 1.25rem;
    }
    @media (min-width: 768px) {
        h3 {
            font-size: 1.5rem;
        }
    }
    h4 {
        font-family: "Manrope", sans-serif;
        font-weight: 800;
        font-size: 1rem;
    }
    @media (min-width: 1024px) {
        h4 {
            font-size: 1.75rem;
        }
    }
    p {
        font-family: "Manrope", sans-serif;
        font-size: 1rem;
    }
    @media (min-width: 1024px) {
        p {
            font-size: 1.25rem;
        }
    }
};