---
import MainLayout from "../layouts/MainLayout.astro";
import MainHeader2 from "../components/MainHeader2.astro";
import Button from "../components/Button.astro";
import ListElement from "../components/ListElement.astro";
---
<MainLayout>
    <MainHeader2></MainHeader2>
    <section class="xl:grid xl:grid-cols-2 pb-6 sm:pb-[32px] md:pb-[40px] lg:pb-[60px]">
        <div class="mb-8 xl:mb-[60px]">
            <img src="/turkana-county-kenya.jpg" alt="Man from Turkana County, Kenya." class="w-full h-[287px] xl:w-[655px] xl:h-[914px] object-cover"></img>
            <h1 class="pt-3 px-4 sm:pt-4 sm:px-[32px] md:pt-5 md:px-[48px] lg:px-20">Turkana, Kenya</h1>
        </div>
        <article class="flex flex-col items-center pt-3 px-4 sm:pt-4 sm:px-[32px] md:pt-5 md:px-[48px] lg:pt-6 lg:pr-20">
            <div class="lg:w-[700px]">
                <div class="hidden xl:block place-self-start mb-10">
                    <Button variant="action" id="back">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-5 lg:w-6">
                            <path fill-rule="evenodd" d="M9.78 4.22a.75.75 0 0 1 0 1.06L7.06 8l2.72 2.72a.75.75 0 1 1-1.06 1.06L5.47 8.53a.75.75 0 0 1 0-1.06l3.25-3.25a.75.75 0 0 1 1.06 0Z" clip-rule="evenodd" />
                        </svg>
                        <p><a href="/kategorier">Back</a></p>
                    </Button>
                </div>
                <div class="mb-8 lg:mb-[60px]">
                    <h2 class="mb-4 lg:mb-8">Latest updates</h2>
                    <h3 class="mb-3 lg:">2024</h3>
                    <div class="grid gap-2 lg:gap-3 mb-3">
                        <ListElement>
                            <div class="px-3 py-1 lg:px-4 lg:py-2">
                                <div class="flex justify-between lg:mb-1">
                                    <p class="font-semibold">Health Improvements</p>
                                    <p class="text-xs lg:text-sm text-black-400">2024-10-05</p>
                                </div>
                                <p>We now have access to clean water and healthcare.</p>
                            </div>
                        </ListElement>
                        <ListElement>
                            <div class="px-3 py-1 lg:px-4 lg:py-2">
                                <div class="flex justify-between lg:mb-1">
                                    <p class="font-semibold">Access to Clean Water</p>
                                    <p class="text-xs lg:text-sm text-black-400">2024-02-05</p>
                                </div>
                                <p>The installation of a water purification system will bring clean water to our people.</p>
                            </div>
                        </ListElement>
                    </div>
                    <div class="flex self-end justify-end">
                        <Button variant="action" id="show-more">
                            <p>Show more</p>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-5 lg:w-6">
                                <path fill-rule="evenodd" d="M4.22 6.22a.75.75 0 0 1 1.06 0L8 8.94l2.72-2.72a.75.75 0 1 1 1.06 1.06l-3.25 3.25a.75.75 0 0 1-1.06 0L4.22 7.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
                            </svg>
                        </Button>
                    </div>
                </div>
                <div>
                    <h2 class="mb-4 lg:mb-8">Gallery</h2>
                    <div class="grid grid-cols-3 gap-2 mb-3">
                        <img src="/content.jpg" alt="Woman farming in Turkana County." class="rounded-lg w-full h-[100px] lg:w-[200px] lg:h-[200px] object-cover lg:mb-2"></img>
                        <img src="/content2.jpg" alt="School kids in Turkana County." class="rounded-lg w-full h-[100px] lg:w-[200px] lg:h-[200px] object-cover lg:mb-2"></img>
                        <img src="/content3.jpg" alt="A cow in Turkana County." class="rounded-lg w-full h-[100px] lg:w-[200px] lg:h-[200px] object-cover lg:mb-2"></img>
                        <img src="/content4.jpg" alt="Animals in the field in Turkana County." class="rounded-lg w-full h-[100px] lg:w-[200px] lg:h-[200px] object-cover lg:mb-2"></img>
                        <img src="/content5.jpg" alt="Kids running outside in Turkana County." class="rounded-lg w-full h-[100px] lg:w-[200px] lg:h-[200px] object-cover lg:mb-2"></img>
                        <img src="/content6.jpg" alt="Children with books in Turkana County." class="rounded-lg w-full h-[100px] lg:w-[200px] lg:h-[200px] object-cover lg:mb-2"></img>
                    </div>
                    <div class="flex self-end justify-end mb-8 lg:mb-[60px]">
                        <Button variant="action" id="show-more2"><p>Show more</p>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-5 lg:w-6">
                                <path fill-rule="evenodd" d="M4.22 6.22a.75.75 0 0 1 1.06 0L8 8.94l2.72-2.72a.75.75 0 1 1 1.06 1.06l-3.25 3.25a.75.75 0 0 1-1.06 0L4.22 7.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
                            </svg>
                        </Button>
                    </div>
                    <div class="grid place-items-center">
                        <Button variant="secondary" id="manage-donation">
                            <p>Manage donation</p>
                        </Button>
                    </div>
                </div>
            </div>
        </article>
    </section>
    <section>
        <div class="flex justify-center">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2040033.0999848088!2d34.03187589845442!3d2.975413982011268!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x17835ec9930e52c1%3A0x61edf66a08eab395!2sTurkana%20County%2C%20Kenya!5e0!3m2!1sda!2sdk!4v1734000210978!5m2!1sda!2sdk" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="w-full h-[200px] sm:h-[265.5px] md:h-[331px] lg:h-[462px]"></iframe>
        </div>
    </section>
</MainLayout>