---
import MainLayout from "../layouts/MainLayout.astro";
import Header from "../components/Header.astro";
import Button from "../components/Button.astro";
import { Image } from 'astro:assets';
import myImage from "../assets/images/Grafik/Pattern_yellow.svg";
import myImage3 from "../assets/images/Grafik/yellow_hands.svg";
import myImage4 from "../assets/images/Grafik/mobile.svg";
import myImage5 from "../assets/images/Grafik/yellow_hands.svg";
import myImage6 from "../assets/images/Grafik/yellow_hands.svg";

---


<MainLayout>
 <section class="flex flex-col items-start gap-5 mt-3 mb-6">
    <button>back</button>
    <div class="flex flex-col items-center self-stretch gap-6">
    <h1>What is Feed A Help?</h1>
    <div class="flex flex-col items-start gap-2 self-stretch">
    <p>Feed A Help is a platform that makes giving simple, direct, and meaningful. It connects generous donors directly with people in need, removing the middleman so that every donation goes straight to where it’s needed most.</p>
    <p>Donors can see the impact of their generosity firsthand, as recipients share photos, videos, and updates that show how the support is transforming their lives.</p>
    <p>With Feed A Help, you can trust that your kindness reaches the right hands, creating real change in the world—one person at a time.</p>
</div>
</div>
</section> 

billede

<section class="flex flex-col items-center gap-6 mt-3 mb-6">
    <h2>Our values</h2>
    <div class="flex flex-col items-start gap-12 self-stretch">
    <div class="flex justify-between items-center self-stretch">
        <Image src={myImage3} alt="one hand giving a donation of love to another" class="w-[102px] h-[139.178px]"></Image>
<div class="flex flex-col justify-center items-start gap-2 w-[234px]">
<h3>Direct impact</h3>
<div class="flex flex-col items-start gap-2 self-stretch">
<p>We believe in making a difference, without the detours.</p>
<p>By connecting donors directly with those in need, we ensure that every contribution creates a direct and immediate impact. No middlemen—just meaningful change.</p>
</div>
</div>
    </div>
    <div class="flex justify-between items-center self-stretch">
<div class="flex flex-col justify-center items-start gap-2 w-[234px]">
<h3>Transparency</h3>
<div class="flex flex-col items-start gap-2 self-stretch">
<p>Trust is the foundation of everything we do. That’s why we prioritize transparency, giving donors a clear view of how their support is making a difference.</p>
<p>Through photos and updates from recipients, you can witness the positive change your generosity creates.</p>
</div>
</div>
<Image src={myImage4} alt="one hand giving a donation of love to another" class="w-[70.07px] h-[120.004px]"></Image>
    </div>
</div>
</section>

</MainLayout>
