---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import { Image } from 'astro:assets';
import myImage from "./public/images/hero-unit.jpg";
import MainHeader from "../components/MainHeader.astro";
import ListElement from "../components/ListElement.astro";
---


<MainLayout title="profil">
  
      <div class="bg-no-repeat bg-center bg-cover " style="background-image: url('/grafik/pattern_yellow.svg');">

<MainHeader></MainHeader>
      <section class="flex flex-col items-center justify-center mx-4 mt-3 pb-6 md:mx-20 md:mt-4 md:pb-[60px]">
        <h1 class="pb-6">Profile</h1>
        <div class="flex flex-col items-start w-[343px] md:w-[420px]">
          <h2 class="md:text-[28px]">Username</h2>
          <p class="pt-2 pb-3">Anders Anderson</p>
          <Button variant="tertiary" id="settings">
            <div class="flex items-center gap-2">
              <img src="/tandhjul.svg" alt="Settings Icon" class="w-4 h-4" />
              <p>Settings</p>
            </div>
          </Button>
        </div>
  
        <div class="flex flex-col items-start pt-10">
          <h3 class="pb-3">Administrate Donations</h3>
          <div class="flex flex-col gap-4">
            <ListElement>
              <div class="flex items-center w-[343px] md:w-[420px]">
                <Image src={myImage} alt="" class="object-cover rounded-l-lg h-[74px] w-[74px] md:h-[84px] md:w-[84px] mr-2" />
                <div class="mr-auto">
                  <h4 class="text-black-500 pb-1 md:text-xl md:font-bold">Turkana, Kenya</h4>
                  <p class="text-black-300 text-xs md:text-base">Monthly donation</p>
                  <p class="text-black-300 text-sm font-semibold md:text-base">100 Kr.</p>
                </div>
                <a href="/content">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8 md:w-12 md:h-12 stroke-black-300">
                  <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
                </svg>
              </a>
              </div>
            </ListElement>
  
            <ListElement>
              <div class="flex items-center">
                <Image src={myImage} alt="" class="object-cover rounded-l-lg h-[74px] w-[74px] md:h-[84px] md:w-[84px] mr-2" />
                <div class="mr-auto">
                  <h4 class="text-black-500 pb-1 md:text-xl md:font-bold">Dhaka, Bangladesh</h4>
                  <p class="text-black-300 text-sm md:text-base">Single donation</p>
                  <p class="text-black-300 text-sm font-semibold md:text-base">50 Kr.</p>
                </div>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8 md:w-12 md:h-12 stroke-black-300">
                  <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
                </svg>
              </div>
            </ListElement>
          </div>
        </div>
  
        <div class="flex flex-col items-center content-center pt-[60px] md:pt-[60px] gap-3">
          <Button variant="cta" id="donate">
            <p><a href="/kategorier">Donate now</a></p>
            <svg 
              xmlns="http://www.w3.org/2000/svg" 
              viewBox="0 0 16 16" 
              fill="currentColor" 
              class="w-5 h-5 lg:w-6 lg:h-6">
              <path d="M2 6.342a3.375 3.375 0 0 1 6-2.088 3.375 3.375 0 0 1 5.997 2.26c-.063 2.134-1.618 3.76-2.955 4.784a14.437 14.437 0 0 1-2.676 1.61c-.02.01-.038.017-.05.022l-.014.006-.004.002h-.002a.75.75 0 0 1-.592.001h-.002l-.004-.003-.015-.006a5.528 5.528 0 0 1-.232-.107 14.395 14.395 0 0 1-2.535-1.557C3.564 10.22 1.999 8.558 1.999 6.38L2 6.342Z" />
            </svg>
          </Button>
          <Button variant="tertiary" id="log-out"><a href="/">Log out</a></Button>
        </div>
      </section>
    </div>
  </MainLayout>
  