---
import MainLayout from "../layouts/MainLayout.astro";
import MainHeader from "../components/MainHeader.astro";
import LinkButton from "../components/LinkButton.astro";
---
<!-- Importerer genanvendelige komponenter ovenfor med Astro -->

<MainLayout title="tak for donation">
    <MainHeader></MainHeader>
    <section class="flex items-center justify-center mt-3 md:mt-5 mb-6 md:pb-6 mx-4 md:mx-20">
        <!-- Layoutet er vertikalt (en kolonne), og indholdet er centreret. Baggrundsbilledet centreres og sættes til at dække hele containeren -->
        <div class="flex flex-col items-center h-[300px] md:h-[761px] md:w-[633px] self-stretch bg-[url('/grafik/yellowhands.svg')] bg-no-repeat bg-contain bg-center">
          <h1 class="pb-14 text-center">Thank you <br> your donation</h1>
          <p class="pb-2">Your donation has now been added to your profile.</p>
          <p class="text-center pb-28 md:w-[400px]">Going forward, you will receive notifications, updates, and information regarding the cause itself.</p>
          <LinkButton variant="secondary" id="profile" href="/profile">
            <p>Go to profile</p>
          </LinkButton>
        </div>
      </section>
</MainLayout>