---
import MainLayout from "../layouts/MainLayout.astro";
import MainHeader from "../components/MainHeader.astro";
import Button from "../components/Button.astro";
---

<MainLayout title="tak for donation">
    <MainHeader></MainHeader>
    <section class="flex items-center justify-center mt-3 md:mt-5 mb-6 md:pb-6 mx-4 md:mx-20">
        <div class="flex flex-col items-center h-[300px] md:h-[761px] md:w-[633px] self-stretch bg-[url('src/assets/images/Grafik/yellowhands.svg')] bg-no-repeat bg-contain bg-center">
          <h1 class="pb-14 text-center">Thank you <br> your donation</h1>
          <p class="pb-2">Your donation has now been added to your profile.</p>
          <p class="text-center pb-28 md:w-[400px]">Going forward, you will receive notifications, updates, and information regarding the cause itself.</p>
          <Button variant="secondary" id="profile">
            <p><a href="/kategorier">Go to profile</a></p>
          </Button>
        </div>
      </section>
      

</MainLayout>