---
const { size = "small" } = Astro.props;
const cardStyling = "bg-yellow-200 hover:bg-yellow-100 active:bg-yellow-300 rounded-lg";
const sizeClasses = {
    "small": "w-40",
    "large": "w-80",
};
---
<div class:list={[cardStyling, sizeClasses[size]]}><slot /></div>