---
const headerStyling = "text-red-800 text-2xl lg:text-3xl font-medium p-5 md:p-8 lg:p-10";
import { Image } from 'astro:assets';
import myImageLogo from "../assets/images/logo.svg";
import myImageLogo2 from "../assets/images/grafik/logo.svg";
---
<div x-data="{showmenu: false, activeHeader: false }" :class="{'bg-yellow-100': activeHeader}" @click="activeHeader = !activeHeader" @click.outside="activeHeader = false" class:list={[headerStyling]}>
    <div class="flex justify-between">
        <a href="/"><Image src={myImageLogo} alt="" class="w-52 md:w-64 lg:w-96"></Image></a>
        <button id="burgermenu" x-on:click="showmenu = ! showmenu"><Image src={myImageLogo2} alt="" class="w-9 md:w-12 lg:w-16"></Image></button>
    </div>
    <nav x-show="showmenu" x-transition x-on:click="showmenu = false" x-on:click.outside="showmenu = false" class="sticky top-0 my-[15rem]">
        <ul>
            <li class="text-center py-6"><a href=""><p class="font-normal hover:font-semibold">About</p></a></li>
            <li class="text-center py-6"><a href="kategorier"><p class="font-normal hover:font-semibold">Causes</p></a></li>
            <li class="text-center py-6"><a href=""><p class="font-normal hover:font-semibold">Profile</p></a></li>
        </ul>
    </nav>
</div>
