---
const mainheader2Styling = "text-red-800 text-3xl lg:text-2xl p-5 md:p-8 lg:p-10 absolute w-full z-10";
import { Image } from 'astro:assets';
import myImageLogo from "../assets/images/logo.svg";
import myImageLogo3 from "../assets/images/burgermenu-ikon.svg";
---

    <div x-data="{showmenu: false, activeHeader: false }" :class="{'bg-yellow-100': activeHeader}" @click="activeHeader = !activeHeader" @click.outside="activeHeader = false" class:list={[mainheader2Styling]}>
        <div class="flex justify-between">
            <a href="/"><Image src={myImageLogo} alt="Feed A Help logo." class="w-[45px] h-[45px] md:w-[62.5px] md:h-[62.5px] lg:w-20 lg:h-20" /></a>
            <button id="burgermenu" x-on:click="showmenu = ! showmenu"><Image src={myImageLogo3} alt="Feed A Help icon." class="w-[35px] h-[16px] md:w-[45px] md:h-[28px] lg:w-[55px] lg:h-[32px]" /></button>
        </div>
        <nav x-show="showmenu" x-transition x-on:click="showmenu = false" x-on:click.outside="showmenu = false" class="sticky top-0 my-[15rem]">
            <ul>
                <li class="text-center py-6 lg:pt-0 lg:pb-9"><a href="/info"><p class="font-normal hover:font-semibold">About</p></a></li>
                <li class="text-center py-6 lg:py-9"><a href="/causes"><p class="font-normal hover:font-semibold">Causes</p></a></li>
                <li class="text-center py-6 lg:pt-9 lg:pb-0"><a href="/profile"><p class="font-normal hover:font-semibold">Profile</p></a></li>
            </ul>
        </nav>
    </div>

